body {
  background: url(image/TK.jpg);
  background-position: right top;
  margin-right:10px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;

}

h3{
	font-family: Arial;
	font-style: italic;
	font-size: 20px;
	color:#b0e0e6;
}

h2{
	font-family: Arial;
	font-style: italic;
	font-size: 40px;
	color:#ff8c00;
}
p{
	font-family: Arial;
	font-style: italic;
	font-size: 15px;
}

button{
	text-align: center;
	font-size: 15px;
	border-radius: 50px;
	padding:10px 20px 10px 20px;
	font-style: italic;
}
p{
	text-align: center;
	text-decoration: none;
}
h4{
	font-size: 20px;
}

a{
	color: red;
}